.sidebar {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 22%;
  z-index: 5;
}

.body{
/* background: linear-gradient(90deg, rgba(2,0,36,1) 18%, rgba(117,31,171,0.5721638997395833) 93%); */
}




.logo {
  text-align: left;
  margin-left: 10%;
  padding-top: 10%;
  font-size: 4rem;
  height: 18vh;
  align-items: flex-start;
  font-family: "Tangerine", cursive;
}

.logo:hover {
  transform: scale(1.2);
  transition: 0.3s ease-out;
  color: cyan;
}

.sidelinks {
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
  margin-left: 20%;
  width: fit-content;
  height: 60px;
  font-family: "Poppins", sans-serif;
}

.sidelinks:hover {
  color: cyan;
  /* transform: scale(1.2); */
  transition: 0.3s ease-in-out;
}

.social {
  margin: 50px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 100%;
}

.icons {
  color: #fff;
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* background-color: #000000; */
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  /* border: 1px solid red; */
}
.icons:hover {
  transform: scale(1.5);
  transition: 1s ease-in-out;
}

.frontpage {
  font-size: 1.5vw;
    color: #fff;
  margin-left: 22%;
  width: 78%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
}

.pagesize {
  height: 100vh;
}

.container{
  z-index: 10000;
  margin: 0 10vw;
}


a{
  color: antiquewhite;
  text-decoration: none;
}
a:hover{
  color: aqua;
  opacity: .8;
  transition: 0.4s ease-in-out;

}

.navigator{
  position: absolute;
}

.active{
  color: cyan;
}
.size{
  width: 30vw;
}

.socmed:hover{
  transform: scale(1.3) rotate(360deg);
}

/* intropage */

/* Header  */
.title{
  width: fit-content;
  height: 30px;
  overflow: hidden;
  display: flex;
  border-radius: 20px;
  font-size: 30px;
  margin: 0 30px;
  padding: 0 20px;
  background-color: rgba(18,18,18,0.5);
}

.title-wrapper{
  height: 100%;
  animation: move 3s ease-in-out infinite alternate;
}
@keyframes move {
  50%{transform: translateY(-30px);}
  100%{transform: translateY(-60px);}
  
}

.title-item{
  display: flex;
  align-items: center;
  height: 30px;
  
  font-weight: 600;
  color: #32F30C;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.intro{
  
  text-align: center;
  line-height: 10mm;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  z-index: 10005;
}

.greet{
display: flex;
align-items: center;
background-color: rgba(18,18,18,0.5);
border-radius: 40px;
height: 30px;
font-size: 30px;
font-weight: 600;
padding: 10px 30px;
margin: 0;
width: fit-content;
}

.name{
  display: flex;
  align-items: center;
  background-color: rgba(18,18,18,0.5);
  border-radius: 40px;
  height: 70px;
  font-size: 70px;
  padding: 10px 30px;
  margin: 10px 20px;
}

.dp{
  background-image: url(/public/asset/profile.jpg);
  background-size: cover;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin: 50px;
  z-index: 1005;
}



/* background animation */
.leaf {
  position: absolute;
  width: 78%;
  height: 100%;
  top: 0;
  left: 22%;
}
.leaf img{

  width: 100px;
  height: 100px;
}

.leaf div {
  position: absolute;
  display: block;
}
.leaf div:nth-child(1) {
  left: 10%;
  top: 10%;
  animation: fall 8s linear infinite;
  animation-delay: -2s;
}
.leaf div:nth-child(2) {
  left: 20%;
  top: 20%;
  animation: fall 8s linear infinite;
  animation-delay: -4s;
}
.leaf div:nth-child(3) {
  left: 30%;
  top: 80%;
  animation: fall 8s linear infinite;
  animation-delay: -6s;
}
.leaf div:nth-child(4) {
  left: 40%;
  top: 50%;
  animation: fall 8s linear infinite;
  animation-delay: -8s;
}
.leaf div:nth-child(5) {
  left: 50%;
  top: 10%;
  animation: fall 8s linear infinite;
  animation-delay: -9s;
}
.leaf div:nth-child(6) {
  left: 60%;
  top: 80%;
  animation: fall 8s linear infinite;
  animation-delay: -7s;
}
.leaf div:nth-child(7) {
  left: 70%;
  top: 80%;
  animation: fall 8s linear infinite;
  animation-delay: -5s;
}
.leaf div:nth-child(8) {
  left: 80%;
  top: 50%;
  animation: fall 8s linear infinite;
  animation-delay: -3s;
}
.leaf div:nth-child(9) {
  left: 90%;
  top: 50%;
  animation: fall 8s linear infinite;
  animation-delay: -1s;
}

@keyframes fall {
  0% {
    top: -10%;
  }
  50% {
    top: 100%;
    transform: rotate(180deg);
  }
  100% {
    top: -10%;
    transform: rotate(360deg);
  }
}

/* background animation */
/* Aboutme */
.text{
  padding: 20px;
  border-radius: 10px;
  font-size: 2vw;
  background-color: rgba(18, 18, 18, 0.5);

}

/* header  */

/* skills  */

.block{
  background-color: rgba(18, 18, 18, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}


img{
  width:50px;
  margin: 10px;
}

.type{
  flex: 1;
}

.item{
  display: flex;
  flex: 3;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1000px) {

  .size{
    width: 80vw;
  }
  
  

  .sidebar {
    display: none;
  }
  

  .frontpage{
    font-size: 4vw;
    margin-left: 0;
      justify-content: center;
      align-items: center;
      width: 100%;
  }

  .autosize{
    height: auto;
    padding-bottom: 15vh;
  }

  /* Aboutme */
  .text{
    font-size: 4vw;
}

/* Skills */
.block{
  flex-wrap: wrap;
  font-size: 1.5vh;
}
/* header */
.dp{
  height: 40vw;
  width: 40vw;
}

.leaf{
  width: 80%;
  left: 0;
  height: 90%;
}

.intro{
  text-align: center;
  font-size: 1vw;
}

.title{
  font-size: 3vh;
}

.name{
height: 4vh;
  font-size: 4vh;
  margin: 0;
}

.greet{
font-size: 2vh;

}

.leaf img{
  width: 70px;
  height: 70px;
}

}


@media only screen and (min-width: 1000px){

  /* Skills */
  .block{
      width: 50vw;
  }
  

}