.sidebar {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 22%;
  z-index: 5;
}

.body{
/* background: linear-gradient(90deg, rgba(2,0,36,1) 18%, rgba(117,31,171,0.5721638997395833) 93%); */
}


/* Navbar  */

.navbar {
  margin-left: 22%;
  display: flex;
  justify-content: flex-end;
  display: none;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #121212;
  height: 5rem;
  width: 78%;
  z-index: 10;
}

.scrolled-down {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  transition: all 0.2s ease-in-out;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  transition: all 0.2s ease-in-out;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.logo {
  text-align: left;
  margin-left: 10%;
  padding-top: 10%;
  font-size: 4rem;
  height: 18vh;
  align-items: flex-start;
  font-family: "Tangerine", cursive;
}

.logo:hover {
  transform: scale(1.2);
  transition: 0.3s ease-out;
  color: cyan;
}

.sidelinks {
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
  margin-left: 20%;
  width: fit-content;
  height: 60px;
  font-family: "Poppins", sans-serif;
}

.sidelinks:hover {
  color: cyan;
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

.social {
  margin: 50px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 100%;
}

.icons {
  color: #fff;
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* background-color: #000000; */
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  /* border: 1px solid red; */
}
.icons:hover {
  transform: scale(1.5);
  transition: 1s ease-in-out;
}

.frontpage {
  font-size: 1.5vw;
    color: #fff;
  margin-left: 22%;
  width: 78%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
}

.pagesize {
  height: 100vh;
}

.container{
  z-index: 10000;
  margin: 0 10vw;
}


a{
  color: aliceblue;
}
a:hover{
  color: aqua;
  transition: 0.4s ease-in-out;

}
.size{
  border-radius: 20px;
  width: 60vw;
  height: 60vh;
  /* opacity: .5; */
}

.socmed:hover{
  transform: scale(1.3) rotate(360deg);
}

/* intropage */

/* skills  */

@media only screen and (max-width: 1000px) {
  

  .sidebar {
    display: none;
  }
  

  .frontpage{
    font-size: 4vw;
    margin-left: 0;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
}
